
/*------ Course Section ------ */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #182678;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col p, h3{
    color: #F1F1F1;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);

}

/*------ Inspiration Section ------ */
.inspiration{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.inspiration-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid #BBBABA;
}
.inspiration-col img{
    width: 100%;
    display: block;
}
.inspiration-col p {
    color: #111;
}

.layer{
    background: rgba(24, 38, 120, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer h3{
    bottom: 60%;
    opacity: 1;
}
/*------ Testimonials Section ------ */
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #182678;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col p {
    color: #F1F1F1;
}
.testimonials-col h3{
    color: #F1F1F1;
} 

.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa-star-half-alt, .fa-star{
    color: #8751FF;
}

/*------ CTA Section ------ */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../img/banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    border: 1px solid #BBBABA;
    
}
.cta h2{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}


@media(max-width: 700px){
/* Top Header */
    .text-box h1{
        font-size: 20px;
    }
/* Course Section */
    .row{
        flex-direction: column;
    }
/* Testimonials Section */
    .testimonials-col img{

        margin-left: 0px;
        margin-right: 15px;
    }
    .layer h3{
        bottom: 70%;
    }
/* CTA Section */
    .cta h1{
        font-size: 24px;
    }
}
@media(max-width: 1024px){
    /* Testimonials Section */

    .layer h3{
        bottom: 80%;
    }
}