/*------ Course Section ------ */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row2{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #182678;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 1px solid #1B8451;
}
.course-col p, h3{
    color: #F1F1F1;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);

}
@media(max-width: 700px){

    /* Course Section */
        .row2{
            flex-direction: column;
        }
    }