.top-bar nav{
    background: rgba(1,1,1, 0.8);
    padding: 10px;
}
.lesson-container{
    background-color: #EEF1F4 !important;			 /*Change Size of Box*/
	width: 1300px;
    height: auto;
	padding: 20px;
	margin: 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    position:inherit;
    margin: auto;
    margin-top: 30px;
}
.lesson-container h1{
    text-align: center;
    font-size: 35px;
    color: #f44336;
    font-weight: 400;
}
.lesson-container h2{
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    color: #f44336;
    font-weight: 400;
}
.lesson-container h3{
    color: #C62419;
}
.lesson-container h4{
    text-align: left;
    font-size: 17px;
    color: #f44336;
    font-weight: 400;
}
.lesson-container p{
    color: #545454;
    line-height: 26px;
}
.content{
    padding: 50px;
}
.content ul{
    padding-left: 50px;
    font-size: 14px;
    color: #545454;
}
.lesson-rule{
    border: 3px solid #CDD75666;
    background-color: #CDD75655;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.lesson-rule mark{
    background-color: #CDD756;
}
.lesson-warning{
    border: 3px solid #f4433666;
    background-color: #f4433655;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.lesson-warning mark{
    background-color: #f44336;
}
.lesson-practice{
    border: 3px solid #0DCC8266;
    background-color: #0DCC8255;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.lesson-practice mark{
    background-color: #0DCC82;
}
.split-content .code-toolbar{
    width: 50%;
}
.code-toolbar .language-cpp{
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
}
:not(pre)>code {
    background-color: #C4C4C4;
    padding: 1px 4px;
    border-radius: 4px;
    box-shadow : 0 1px #D4D4D4;
}
.split-content{
    display: flex;
}
.split-content p{
    width: 50%;
}
.split-content-middle{
    margin-top: 150px;
}
.split-content .chap-1_1-picture1{
    margin-left: 50px;
    margin-top: 50px;
    width: 298px;
    height: 106px;
    border: 1px solid #111;
}
.split-content .chap-1_1-picture2, .split-content .chap-1_1-picture3{
    margin: 30px;
    width: 298px;
    height: 106px;
    border: 1px solid #111;
}
.split-content .chap-1_1-picture4{
    margin-left: 50px;
    margin-top: 50px;
    width: 206px;
    height: 116px;
    border: 1px solid #111;
}
.chap-1_1-picture7{
    margin-left: 50px;
    margin-top: 10px;
    width: 1125px;
    height: 70px;
    border: 1px solid #111;
}
.chap-1_1-picture8, .chap-1_1-picture9, .chap-1_1-picture10 , .chap-1_1-picture11{
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid #111;
}
.chap-2-picture1{
    width: 391px;
    height: 66px;
    margin-top: 125px;
    margin-left: 50px;
}
.chap-2-picture3{
    margin-left: 300px;
}
.quiz{
    margin-left: 25px;
    margin-top: 50px;
}
.quiz-question{
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    color: #f44336;
    font-weight: 400;
}
.quiz-button{
    display: inline-block;
    text-decoration: none;
    color: #111;
    border: 1px solid #f44336;
    padding: 5px 5px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.quiz-button:hover{
    color: #fff;
    background: #f44336;
    transition: 0.5s;
}
#answer{
    display: none;
}
#answer-code{
    display: none !important;
}

.prev-next-inline{
    display: block;
    min-width: 200px;
    max-width: 800px;
    margin-top: 20px;
    
}
.nav-link {
    text-decoration: none;
}
.nav-button{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 12px;
    padding-right: 15px;
    border-radius: 8px;
    background: #64a6f51a;
    color: #64a6f5;
    cursor: pointer;
    transition: .1s all;
}
.nav-button-next{
    background: #0DCC821A;
    color: #0DCC82;
}
.nav-button-icon{
    width: 46px;
    height: 46px;
    margin-right: 10px;
    line-height: 44px;
    font-size: 46px;
    text-align: center;
}
.nav-button-title{
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.nav-button-lesson{
    font-size: 16px;
    line-height: 20px;
    padding-top: 4px;
}
.nav-button-next .nav-button-lesson-number{
    background-color: #0DCC82;
}
.nav-button-lesson-number{
    display: inline-block;
    margin-right: 8px;
    padding: 0 5px;
    line-height: 20px;
    border-radius: 4px;
    background-color: #64a6f5;
    color: #fff;
}
.nav-button-index{
    background: #9C88FF1A;
    color: #9C88FF;
}
.nav-button-index .nav-button-icon {
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 26px;
    margin-left: 6px;
    margin-right: 25px;
    margin-right: 28px;
}
.nav-button-index .nav-button-title {
    padding-top: 1px;
    line-height: 24px;
}
