

h2{
  color: #121D5E;
}
.container {
  max-width: 960px;
}

.fas{
  margin-left: 5px;
  color: #8751FF;
}
#overview-bg{
  background-color: #6C8FB7;
}
#myTable{
  color: #fff;
  border: 1px solid #A1A1A1;
  box-shadow: 0 0 20px 0px rgba(0,0,0,1);
}
thead{
  background: #0A1136;
}
tbody{
  background: #121D5E;
}
input{
  box-shadow: 0 0 10px 0px rgba(0,0,0,1);
  background-color: #111;
}
.row{
  margin-bottom: 15px;
}
